body{
  max-width: 1440px;
  margin: auto;
  padding-bottom: 20px;
  font-family: "SF Pro Display";
}

.container-fluid{
  padding: 2% 8%;
}

.navbar{
  background-color: #fff!important;
}

.logo{
  display: flex;
  align-items: center;
  font-size: 24px;
}

.logo img{
  width: 44px;
  height: 44px;
  padding-right: 0.5rem;
}
.logo h4{
  margin: 0;
}

.row{
  margin: 0;
}

.col2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro-text button{
  background: #FF7F66;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
}

.intro-text h1, p{
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .container-fluid{
    padding: 2% 4%;
  }
  body{
    text-align: center;
  }

  .col1, .col2{
    padding: 7%;
  }
}
